---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
        exclude: tsconfig.json
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
        args: [-x]

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-docker

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        description: ''
        entry: prettier --write --ignore-unknown
        language: node
        types: [text]
        args: []
        require_serial: false
        additional_dependencies:
          # renovate: datasource=npm
          - prettier@3.7.4
          # renovate: datasource=npm
          - '@trivago/prettier-plugin-sort-imports@6.0.0'
          # renovate: datasource=npm
          - prettier-plugin-toml@2.0.6

      - id: ruff-lint
        name: ruff-lint
        entry:
          bash -c 'cd gitlab && uv run ruff check --fix --exit-non-zero-on-fix
          --force-exclude'
        language: python
        require_serial: true
        args: []
        types_or: [python, pyi]
        additional_dependencies: []
        files: ^gitlab/

      - id: ruff-format
        name: ruff-format
        entry: bash -c 'cd gitlab && uv run ruff format --force-exclude'
        language: python
        require_serial: true
        args: []
        types_or: [python, pyi]
        additional_dependencies: []
        files: ^gitlab/

      - id: pyright
        name: pyright
        entry: bash -c 'cd gitlab && uv run pyright'
        language: python
        require_serial: true
        types_or: [python, pyi]
        additional_dependencies: []
        files: ^gitlab/

      # - id: e2e-tests-eslint
      #   name: eslint
      #   entry: e2e-tests/eslint-pre-commit.sh
      #   language: system
      #   args: []
      #   require_serial: false
      #   types: [file]
      #   files: ^e2e-tests/.*/.*\.[jt]sx?$

      - id: e2e-tests-eslint
        name: eslint
        entry: bash -c 'cd e2e-tests && npm run lint-fix'
        language: system
        pass_filenames: false
        require_serial: false
        types: [file]
        files: ^e2e-tests/
