---
services:
  moto:
    image: motoserver/moto:5.1.20@sha256:d2711655244df58411ce0be34236c95736390db17886370d21e12ae2b1e36f79
    command: ['-p', '4566', '-H', '0.0.0.0']
    environment:
      - TZ=UTC
    ports:
      - 4566:4566
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  github:
    image: sbobot/bot:github-app-latest
    platform: linux/arm64/v8
    build:
      context: github
      dockerfile: Dockerfile
    ports:
      - 9001:8080
    extra_hosts:
      - gw:host-gateway
    environment:
      - AWS_ACCESS_KEY_ID=local
      - AWS_DEFAULT_REGION=eu-central-1
      - AWS_ENDPOINT_URL=http://gw:4566
      - AWS_REGION=eu-central-1
      - AWS_SECRET_ACCESS_KEY=secret
      - AWS_SESSION_TOKEN=session
      - GITHUB_ADMINS=testadmin1,testadmin2
      - GITHUB_CONTRIBUTORS=testcontributor1,testcontributor2
      - GHE_HOST=gw:9100
      - GHE_PROTOCOL=http
      - WEBHOOK_PATH=/
  github-local-api-gateway:
    image: bref/local-api-gateway:latest@sha256:825021fa792dc93577b627a0f42df36cf2b9d619bfb67b8df1e9c38572307c76
    environment:
      - TARGET=gw:9001
    ports:
      - 9011:8000
    extra_hosts:
      - 'gw:host-gateway'
  gitlab:
    image: sbobot/bot:gitlab-webhook-latest
    platform: linux/arm64/v8
    build:
      context: gitlab
      dockerfile: Dockerfile
    ports:
      - 9002:8080
    extra_hosts:
      - gw:host-gateway
    environment:
      - AWS_ACCESS_KEY_ID=local
      - AWS_DEFAULT_REGION=eu-central-1
      - AWS_ENDPOINT_URL=http://gw:4566
      - AWS_REGION=eu-central-1
      - AWS_SECRET_ACCESS_KEY=secret
      - AWS_SESSION_TOKEN=session
      - GITLAB_ADMINS=testadmin1,testadmin2
      - GITLAB_URL=http://gw:9100
  gitlab-local-api-gateway:
    image: bref/local-api-gateway:latest@sha256:825021fa792dc93577b627a0f42df36cf2b9d619bfb67b8df1e9c38572307c76
    environment:
      - TARGET=gw:9002
    ports:
      - 9012:8000
    extra_hosts:
      - gw:host-gateway
  wiremock:
    image: wiremock/wiremock:3.13.2@sha256:8bdd64a25db911ba521a38aebf1590d96767c2d29f3e941e2f496a760bbdf47d
    command: --verbose --global-response-templating
    ports:
      - 9100:8080
