# Ignore everything
*

# Unignore the things we want
!/.python-version
!/lambda-entrypoint.sh
!/pyproject.toml
!/sbobot
!/startup.sh
!/uv.lock

# Ignore again things we unignored
**/*.pyc
**/.gitkeep
**/.venv
**/Dockerfile
**/__pycache__
