---
name: Run tests

on: [pull_request]

concurrency:
  group: pr-check-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  ci:
    name: Build and test
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    env:
      # renovate: datasource=pypi depName=pre-commit
      PRE_COMMIT_VERSION: '4.5.1'
      # renovate: datasource=pypi depName=uv
      UV_VERSION: '0.9.24'

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Start docker compose base services
        run: |
          nohup docker compose up -d --wait --quiet-pull github-local-api-gateway gitlab-local-api-gateway moto wiremock &
          echo "COMPOSE_PID=$!" >> "$GITHUB_ENV"

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true
          cache-dependency-glob: 'gitlab/uv.lock'

      - name: Configure pre-commit repo cache
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.cache/pre-commit
          key:
            ${{ runner.os }}-pre-commit-repo-${{ env.pythonLocation }}-${{
            hashFiles('.pre-commit-config.yaml') }}

      - name: Configure pre-commit install cache
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        id: pre_commit_install_cache
        with:
          path: ~/.pre-commit-venv
          key:
            ${{ runner.os }}-pre-commit-venv-${{ env.PRE_COMMIT_VERSION }}-${{
            env.pythonLocation }}

      - name: Install pre-commit
        if: steps.pre_commit_install_cache.outputs.cache-hit != 'true'
        run: |
          python -m venv ~/.pre-commit-venv
          # shellcheck source=/dev/null
          . ~/.pre-commit-venv/bin/activate
          pip install pre-commit==${{ env.PRE_COMMIT_VERSION }}

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: |
            e2e-tests/package-lock.json

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: 'gitlab/.python-version'

      - name: Install python dependencies
        working-directory: gitlab
        run: |
          uv sync --all-extras --dev

      - name: Install e2e-tests dependencies
        working-directory: e2e-tests
        run: |
          npm ci

      - name: Build github-app
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          cache-from: type=gha,scope=githubapp
          context: github
          file: github/Dockerfile
          load: true
          platforms: linux/arm64/v8
          provenance: false
          push: false
          tags: |
            sbobot/bot:github-app-latest

      - name: Build gitlab-webhook
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          cache-from: type=gha,scope=gitlabwebhook
          context: gitlab
          file: gitlab/Dockerfile
          load: true
          platforms: linux/arm64/v8
          provenance: false
          push: false
          tags: |
            sbobot/bot:gitlab-webhook-latest

      - name: Start remaining docker compose services
        run: |
          timeout 20 bash -c "while kill -0 $COMPOSE_PID 2> /dev/null; do sleep 1; done"
          ./seed.sh
          docker compose up -d --wait --quiet-pull

      - name: Run pre-commit
        run: |
          # shellcheck source=/dev/null
          . ~/.pre-commit-venv/bin/activate
          pre-commit run --all-files --color=always --show-diff-on-failure

      - name: Run pytests
        working-directory: gitlab
        run: |
          uv run pytest

      - name: Run e2e-tests
        working-directory: e2e-tests
        run: |
          npm run test
