---
name: Build and deploy sbo-bot infrastructure

on:
  push:
    branches: master

env:
  AWS_DEFAULT_REGION: eu-central-1
  SESSION_DURATION: 900

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  infra:
    name: Apply tofu
    runs-on: ubuntu-24.04-arm
    permissions:
      id-token: write
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Compute git sha
        run:
          echo "DOCKER_IMAGE_VERSION=git$(git rev-parse --short HEAD)" >>
          "$GITHUB_ENV"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: ${{ env.AWS_DEFAULT_REGION }}
          role-to-assume:
            arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/sbobot-automation
          role-duration-seconds: ${{ env.SESSION_DURATION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          mask-password: 'true'

      - name: Build and push github-app
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: true
          platforms: linux/arm64/v8
          cache-from: type=gha,scope=githubapp
          cache-to: type=gha,mode=max,scope=githubapp
          context: github
          file: github/Dockerfile
          provenance: false
          tags: |
            ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_DEFAULT_REGION }}.amazonaws.com/sbobot/bot:github-app-latest
            ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_DEFAULT_REGION }}.amazonaws.com/sbobot/bot:github-app-${{ env.DOCKER_IMAGE_VERSION }}

      - name: Build and push gitlab-webhook
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: true
          platforms: linux/arm64/v8
          cache-from: type=gha,scope=gitlabwebhook
          cache-to: type=gha,mode=max,scope=gitlabwebhook
          context: gitlab
          file: gitlab/Dockerfile
          provenance: false
          tags: |
            ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_DEFAULT_REGION }}.amazonaws.com/sbobot/bot:gitlab-webhook-latest
            ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_DEFAULT_REGION }}.amazonaws.com/sbobot/bot:gitlab-webhook-${{ env.DOCKER_IMAGE_VERSION }}

      - name: Configure tofu plugin cache
        run: |
          printf 'plugin_cache_dir = "%s/.tofu.d/plugin-cache"\n' "$HOME" > ~/.tofurc
          mkdir -p ~/.tofu.d/plugin-cache

      - name: Cache Tofu plugins
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.tofu.d/plugin-cache
          key: ${{ runner.os }}-tofu-${{ hashFiles('**/.terraform.lock.hcl') }}

      - name: Set tofu version
        run: echo "TOFU_VERSION=$(cat tf/.opentofu-version)" >> "$GITHUB_ENV"

      - uses: opentofu/setup-opentofu@9d84900f3238fab8cd84ce47d658d25dd008be2f # v1.0.8
        with:
          tofu_version: ${{ env.TOFU_VERSION }}
          tofu_wrapper: false

      - name: Configure AWS Credentials (for tofu)
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: ${{ env.AWS_DEFAULT_REGION }}
          role-to-assume:
            arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/sbobot-automation
          role-duration-seconds: ${{ env.SESSION_DURATION }}

      - name: Tofu init
        run: tofu init -lockfile=readonly
        working-directory: tf

      - name: Tofu apply
        run:
          tofu apply -auto-approve -input=false -var
          "docker_image_version=$DOCKER_IMAGE_VERSION"
        working-directory: tf

      - name: Clean up old lambda versions
        run: |
          name="sbobot-github-app"
          aws lambda list-versions-by-function --function-name "$name" | jq -r '.Versions | .[] | [select(.Version != "$LATEST")] | .[].Version' | tac | sed '1,10d' | tac | while read -r version ; do
            printf 'Removing version %s of function %s\n' "$version" "$name"
            aws lambda delete-function --function-name "$name" --qualifier "$version"
          done

          name="sbobot-gitlab-webhook"
          aws lambda list-versions-by-function --function-name "$name" | jq -r '.Versions | .[] | [select(.Version != "$LATEST")] | .[].Version' | tac | sed '1,10d' | tac | while read -r version ; do
            printf 'Removing version %s of function %s\n' "$version" "$name"
            aws lambda delete-function --function-name "$name" --qualifier "$version"
          done

  seed-cache:
    name: Seed various caches from the master branch for ci checks
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    env:
      # renovate: datasource=pypi depName=pre-commit
      PRE_COMMIT_VERSION: '4.5.1'
      # renovate: datasource=pypi depName=uv
      UV_VERSION: '0.10.0'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true
          cache-dependency-glob: 'gitlab/uv.lock'

      - name: Configure pre-commit repo cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.cache/pre-commit
          key:
            ${{ runner.os }}-pre-commit-repo-${{ env.pythonLocation }}-${{
            hashFiles('.pre-commit-config.yaml') }}

      - name: Configure pre-commit install cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        id: pre_commit_install_cache
        with:
          path: ~/.pre-commit-venv
          key:
            ${{ runner.os }}-pre-commit-venv-${{ env.PRE_COMMIT_VERSION }}-${{
            env.pythonLocation }}

      - name: Install pre-commit
        if: steps.pre_commit_install_cache.outputs.cache-hit != 'true'
        run: |
          python -m venv ~/.pre-commit-venv
          # shellcheck source=/dev/null
          . ~/.pre-commit-venv/bin/activate
          pip install pre-commit==${{ env.PRE_COMMIT_VERSION }}

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: |
            e2e-tests/package-lock.json

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: 'gitlab/.python-version'

      - name: Install python dependencies
        working-directory: gitlab
        run: |
          uv sync --all-extras --dev

      - name: Install e2e-tests dependencies
        working-directory: e2e-tests
        run: |
          npm ci

      - name: Run pre-commit
        run: |
          # shellcheck source=/dev/null
          . ~/.pre-commit-venv/bin/activate
          pre-commit run --all-files --color=always --show-diff-on-failure
