name: Update AWS lambda insights extension.
on:
  workflow_dispatch: ~
  schedule:
    - cron: '0 3 * * 0'

jobs:
  update:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          show-progress: false

      - run: |
          ./.github/scripts/update-lambda-insights-extension.sh

      - uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          commit-message:
            'Update aws lambda insights extension to version ${{
            env.EXTENSION_VERSION }}.'
          branch:
            update-aws-lambda-insights-extension-${{ env.EXTENSION_VERSION }}
          title:
            '[auto] Update aws lambda insights extension to version ${{
            env.EXTENSION_VERSION }}.'
